body{
    background:whitesmoke
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px; 
    margin:10px;
    background: lightgreen
    
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 3px solid #20b2aa;
}

.assignment img:hover {
    border: 3px dashed maroon;
    
}

h1{
    color:lightskyblue;
    text-align: center;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color:lightsalmon
}